:root{
--background: red;
--body: 10px;
--head: 30px;
}

.background{
background-color: gray;
font-family: monospace;  
}

.border{
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

.smaller-image{
  width: 10px;
}

#images{
  border-radius: 10px;
}

a{color: blue;}
a:hover{color: red;}

@media(max-width: 350px){
  :root{
  color: orange;
  width: 200px;
  }
}

#main{
text-align: justify;
}

p{
font-weight: bold;
text-decoration: underline, line-through;
font-style: italics;  
font-family: sans-serif; monospace;  
}

h1{color: blue;}
h2{font-family: sans-serif; monospace;}

#division{
position: relative;
  top: 10px;
}

.h6{
color: gray;
}
